body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-box {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-align: center;
    margin-top: -20px;
}

h1 {
    color: #333;
}

.options {
    margin-top: 20px;
}

.box-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.box {
    width: 200px;
    height: 80px;
    background-color: #81c784; /* Light green color */
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
}

.box a {
    text-decoration: none;
    color: #333; /* Dark text color */
    font-size: 18px;
}

.box:hover {
    background-color: #4caf50; /* Darker green color on hover */
    transform: translateY(-5px); /* Move the box up by 5 pixels on hover */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
